.cards{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 3%;
}

.cards a{
    text-decoration: none;
    font-style: normal;
    color: black;
  }

