.longcard{
    background-color: #ffebd4;
    box-shadow: 10px 5px 5px #d4d6d9;
    border-radius: 10px;
    align-self: center;
    padding: 15px;
    width: 80%;
    height: 30px;
    font-size: small;
    text-align: center;
    margin: 5px;
}
