.Menu{
    margin-top: 10px ;
    display: flex;
    background-color: rgb(167, 166, 166);
    border-radius: 6px;
}

.Menu .invisible{
    display: none;
}

.tree {
    background-color: #ffff;
    border: 1px solid grey;
    border-radius: 6px;
    align-self: start;
    text-align: left;  
    text-decoration: none;
    width: 25%;
    height: 100vh;
    overflow:scroll;
}
.Menu a {
    text-decoration: none;
    font-style: normal;
    color: black;
  }

.Menu .tarjetas{
    width: 75%;
    margin-bottom: auto;
    padding: 30px;
    
}
