.Menu {
    background-color: #ffff;
    box-shadow: 10px 5px 5px #d4d6d9;
    align-self: start;
    text-align: left;
    
   
}
/* .Menu .visible{
    display: none;
}
.Menu li:hover{
    background-color:#fc9357;
} */

/* .Menu li {
    transition: background-color .5s;
    } */

.Menu a {
    text-decoration: none;
    font-style: normal;
    color: black;
  }