.Menu{
    display: flex;
}

.Menu .invisible{
    display: none;
}

.tree {
    background-color: #ffff;
    align-self: start;
    text-align: left;  
    text-decoration: none;
    width: 25%;
}
.Menu a {
    text-decoration: none;
    font-style: normal;
    color: black;
  }

.Menu .tarjetas{
    width: 75%;
    margin-bottom: auto;
    padding: 30px;
}
