#nuevoDocumento {
    background-color: #ffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    height: 40vh;
    align-items: center;
    text-align: left;
}
#nuevoDocumento form{
    margin: auto;
    width: 80%;
    padding: 20px;
}
#nuevoDocumento .inpt{
    padding: 5px;
    width: 100%;
}

#nuevoDocumento .btn{
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}