#nuevoDocumento {

    background-color: #c2bcbc; 
    border-left:6px solid #1e81b0 ;
    box-shadow: 10px 5px 5px #9c9b9b;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    height: 70vh;
    align-items: center;
    text-align: left;
}

#nuevoDocumento form{
    margin: auto;
    width: 90%;
}
#nuevoDocumento .inpt{
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 10px 5px 5px #9c9b9b;
    border: 0;

}

#nuevoDocumento .botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
    text-align: center;
}

#nuevoDocumento .btn{
    padding: 5px;
    width: 30%;
}

#nuevoDocumento .file{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: 0.5px dotted #000;
    color:#ffff;
}

#nuevoDocumento p{
    color: red;
    font-size: 12px;

}

#nuevoDocumento i{
    font-size: 40;
}