#subir{
    z-index: 1;
    position: fixed;
    display: block;
    width: 50%;
    height: 150px;
    background-color: #f0c692;
    margin: auto;
    
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #d4d6d9;
}

#subir input{
    width: auto;
    padding: 5px;
    border-radius: 3px;
}

#subir .primary{
    border: none;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    background-color: green;
}

#subir .cancel{
    border: none;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    background-color: red;
}